/*
 * The Typekit service used to deliver this font or fonts for use on websites
 */




@font-face {
font-family:"neue-kabel";
src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format('woff2');
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

